<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2 class="Name">Faranak Fereidouni</h2>
      <h5 class="gmail">faranak.fereidooni@gmail.com</h5>
    </div>
    <img
      src="https://media.licdn.com/dms/image/D4E03AQHzUdom7Euljg/profile-displayphoto-shrink_400_400/0/1685698562314?e=1691020800&v=beta&t=cNEuBViMYxSzCr-bKgThGWPRkLMqlBFedOfiPJuHVtg"
      alt="Faranak Fereidouni"
    />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/"
    ><mat-icon>dashboard</mat-icon>Dashboard</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profile"
    ><mat-icon>account_circle</mat-icon>Profile</a
  >
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon> contact_phone</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/calendar">
    <mat-icon>calendar_today</mat-icon>
    Calender
  </a>
</mat-nav-list>
