<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Faranak Fereidouni</h2>
            <h4>faranak.fereidooni@gmail.com</h4>
        </div>
        <img src="https://media.licdn.com/dms/image/D4E03AQE9kWEzW8E1SA/profile-displayphoto-shrink_400_400/0/1672853411725?e=1689811200&v=beta&t=Ug2RVZBZhwc1a-75wrPcrtPz4OJhO7sTT3F-W8o42l8" alt="Faranak Fereidouni">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>dashboard</mat-icon>Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts"><mat-icon> local_post_office</mat-icon>Posts</a>
    
<mat-divider></mat-divider>
    <h2 matSubheader>Tools</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
</mat-nav-list>
