
.contact-header {
  text-align: center;
}
.contact-form .example-full-width,
.contact-form button {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.example-full-width textarea {
  height: 200px;
}
::ng-deep .mdc-text-field--filled,
.contact-form button {
  border-radius: 28px !important;
  box-shadow: 2px 7px 8px #9a9a9acc;
}
.contact-form button {
  height: 50px;
  font-size: 16px;
  font-weight: bold;
}
::ng-deep .green-snackbar {
  --mdc-snackbar-container-color: rgb(62, 251, 4);
  --mdc-snackbar-supporting-text-color: white !important;
}
::ng-deep .red-snackbar {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: white !important;
}

@media screen and (min-width: 280px) and (max-width: 540px) {
  .contact-form .example-full-width,
  .contact-form button {
    width: 100%;
  }
}
