<div>
<mat-card>
    <mat-card-content>User ></mat-card-content>
    <a class="profile">Profile</a>
  </mat-card>
</div>

<mat-divider></mat-divider>
<br>
<div  
fxLayout="row"
fxLayout.xs="column"
fxLayoutAlign="space-between center"
fxLayoutAlign.xs="center stretch"
fxLayoutGap="10px"
>

  <mat-card fxFlex="40" fxFlex.xs="100%" fxLayout="column">
    <mat-card-content></mat-card-content>
  </mat-card>

  <mat-card fxFlex="60" fxFlex.xs="100%" fxLayout="column">
    <mat-card-content></mat-card-content>
  </mat-card>
</div>
<br>
<div 
fxLayout="row"
fxLayout.xs="column"
fxLayoutAlign="space-between center"
fxLayoutAlign.xs="center stretch"
fxLayoutGap="5px">

<mat-card fxFlex="20" fxFlex.xs="100%" fxLayout="column">
    <mat-card-content></mat-card-content>
  </mat-card>

  <mat-card fxFlex="20" fxFlex.xs="100%" fxLayout="column">
    <mat-card-content></mat-card-content>
  </mat-card>
  <mat-card fxFlex="40" fxFlex.xs="100%" fxLayout="column">
    <mat-card-content style="width: 100%; height: 500px; display: block;"></mat-card-content>
  </mat-card>

  <mat-card fxFlex="20" fxFlex.xs="100%" fxLayout="column">
    <!-- <app-calendar></app-calendar> -->
  </mat-card>
</div>