.profile-page {
  font-size: 19px;
}
.profile-header {
  text-align: center;
}
.title-card{
  margin-left: 8px;
}
.title-card,
.company,
.university {
  color: #a5a5a5;
}
.profile-info {
  padding: 6px !important;
}
.profile-card {
  padding-bottom: 1rem;
}
.circle-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  border: 4px dotted #727272;
}
.circle-wrapper img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
h5,
h4 {
  margin: 6px;
}
h6 {
  margin: 0 5px 0 0;
}
.social-media-container {
  margin-top: 2rem;
  text-align: center;
}
.social-media-container fa-icon {
  margin: 10px;
  font-size: 24px;
  cursor: pointer;
}
mat-card {
  box-shadow: 0px 4px 7px 1px rgba(124, 123, 123, 0.5);
  border-radius: 10px;
}
.card {
  min-height: 345px;
  padding: 0.5rem;
  width: 100%;
}
.skills-card {
  min-height: 346px;
}
ul li {
  margin-bottom: 10px;
}
ul li a {
  text-decoration: none;
  color: #52a0fa;
}
.project-type {
  margin-left: 1rem;
}
