<div class="profile-page">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <mat-card fxFlex="30" fxFlex.xs="100%" fxLayout="column">
      <mat-card-content>
        <div class="profile-card">
          <div class="circle-wrapper">
            <img
              src="https://media.licdn.com/dms/image/D4E03AQHzUdom7Euljg/profile-displayphoto-shrink_400_400/0/1685698562314?e=1691020800&v=beta&t=cNEuBViMYxSzCr-bKgThGWPRkLMqlBFedOfiPJuHVtg"
              alt="Faranak Fereidouni"
            />
          </div>
          <div class="profile-header">
            <h2>Faranak Fereidouni</h2>
            <h4>Angular Developer</h4>
          </div>
          <br />
          <mat-card>
            <mat-card-content class="profile-info">
              <div>
                <h6 class="title-card">Email:</h6>
                <h5>faranak.fereidooni@gmail.com</h5>
              </div>
            </mat-card-content>
          </mat-card>
          <br />
          <mat-card>
            <mat-card-content class="profile-info">
              <div>
                <h6 class="title-card">Gender:</h6>
                <h5>Female</h5>
              </div>
            </mat-card-content>
          </mat-card>
          <div class="social-media-container">
            <fa-icon [icon]="faGithub"></fa-icon>
            <fa-icon [icon]="faInstagram"></fa-icon>
            <fa-icon [icon]="faTwitter"></fa-icon>
            <fa-icon [icon]="faWhatsapp"></fa-icon>
            <fa-icon [icon]="faTelegram"></fa-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div fxLayout="column" fxFlex="75" fxLayout.xs="column" fxLayoutGap="20px">
      <mat-card fxFlex.xs="100%" fxLayout="row" class="card">
        <mat-card-content>
          <h3>Work Experience</h3>
          <div>
            <h4>Frontend Developer</h4>
            <h5 class="company">
              TrioNxt Software Private Limited | North Holland, Netherlands |
              Oct 2021 - Present
            </h5>
          </div>
          <br />
          <div>
            <h4>Frontend Developer</h4>
            <h5 class="company">Websima | Tehran,Iran | Sep 2019 - Aug 2020</h5>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex.xs="100%" fxLayout="row" class="card">
        <mat-card-content>
          <h3>Educations</h3>
          <div>
            <h4>Masters of Computer Engineering</h4>
            <h5 class="university">
              Malayer University, Malayer | Jan 2014 - Jan 2016
            </h5>
          </div>
          <br />
          <div>
            <h4>Bachelor of Information Technology</h4>
            <h5 class="university">
              University of Kurdistan, Sanandaj | Sep 2008 - Aug 2012
            </h5>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div fxLayout="column" fxFlex="15" fxLayout.xs="column" fxLayoutGap="20px">
      <mat-card fxFlex.xs="100%" fxLayout="row" class="card">
        <mat-card-content>
          <h3>Skills</h3>
          <div>
            <h5>Angular</h5>
            <h5>Angular Material</h5>
            <h5>Typescript</h5>
            <h5>Javascript</h5>
            <h5>HTML</h5>
            <h5>CSS / SASS</h5>
            <h5>Bootstrap</h5>
            <h5>RESTful API</h5>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card fxFlex.xs="100%" fxLayout="row" class="card">
        <mat-card-content>
          <h3>Soft Skills</h3>
          <div>
            <h5>Jira</h5>
            <h5>Ajile</h5>
            <h5>Scrum</h5>
            <h5>Slack</h5>
            <h5>Teamwork</h5>
            <h5>Learn fast</h5>
            <h5>Resilience</h5>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <br />

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <mat-card fxFlex="50" fxFlex.xs="100%" fxLayout="column">
      <mat-card-content>
        <h3 class="project-type">Angular Projects</h3>
        <ul>
          <li>
            <a
              href="https://github.com/faranak-fereidooni/Kanban-board-with-Angular"
              >Kanban Project</a
            >
          </li>
          <li>
            <a
              href="https://github.com/faranak-fereidooni/Weather-App-with-Angular"
              >Weather App Project</a
            >
          </li>
          <li>
            <a href="https://github.com/faranak-fereidooni/Dashboard"
              >Dashboard Project</a
            >
          </li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card fxFlex="50" fxFlex.xs="100%" fxLayout="column">
      <mat-card-content>
        <h3 class="project-type">Javascript Projects</h3>
        <ul>
          <li>
            <a
              href="https://github.com/faranak-fereidooni/stickyNote-whith-Javascript"
              >Sticky Note Project</a
            >
          </li>
          <li>
            <a
              href="https://github.com/faranak-fereidooni/toDoList-with-Javascript"
              >Todo List Project</a
            >
          </li>
          <li>
            <a
              href="https://github.com/faranak-fereidooni/WeatherApp-with-Javascript"
              >Weather App Project</a
            >
          </li>
          <li>
            <a
              href="https://github.com/faranak-fereidooni/stopwatch-with-Javascript"
              >Stop Watch Project</a
            >
          </li>
          <li>
            <a
              href="https://github.com/faranak-fereidooni/calculator-with-Javascript"
              >Calculator Project</a
            >
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<br>
