
:host{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    font-family:'Roboto, sans-serif';
    font-size:17px;
}

mat-drawer {
    width:290px;
}
mat-drawer-container {
    height: 100%;
}
mat-drawer-content {
    padding: 20px;
}
